
.Drawer-board{
    width: 1200px;
    height: 800px;
    margin: 0 auto 50px;
    border-bottom-right-radius:0.5em;
    border-bottom-left-radius:0.5em;
    background-color: #fff;
    box-shadow: 0 0 8px 3px rgba(93, 71, 139, 0.3);

}
.left-box {

}

h3{
    line-height: 45px;
    text-align: center;
    font-size: 150%;
    font-weight: 100;
    color: #fff;
}

/* Tabbed Styles */
.tabbed {
    width: 1200px; /*与绘图板相同*/
    height: 50px;
    margin: auto;
    margin-top: 15px;
    overflow: hidden;
    transition: border 250ms ease;
    border-bottom: 4px solid #663366;
}
.tabbed ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: left;
    padding-left: 35px; /*左边距离玄学*/
    list-style-type: none;
}
.tabbed ul * {
    margin: 0;
    padding: 0;
}
.tabbed ul li {
    display: block;
    float: right;
    width: 138px; /*每个选项卡的长度*/
    padding:5px 30px 8px;
    background-color: #663366;
    margin-right: 35px; /*右边距离玄学*/
    z-index: 2;
    position: relative;
    cursor: pointer;
    transition: all 250ms ease;
}
.tabbed ul>li:nth-child(1){
    width: 135px; /*每个选项卡的长度*/

    margin-right: 35px; /*右边距离玄学*/
}
.tabbed ul>li:nth-child(2){
    width: 200px; /*每个选项卡的长度*/

    margin-right: 35px; /*右边距离玄学*/
}
.tabbed ul>li:nth-child(3){
    width: 160px; /*每个选项卡的长度*/

    margin-right: 35px; /*右边距离玄学*/
}
.tabbed ul>li:nth-child(4){
    width: 290px; /*每个选项卡的长度*/

    margin-right: 35px; /*右边距离玄学*/
}

.tabbed ul li:before,
.tabbed ul li:after {
    display: block;
    content: " ";
    position: absolute;
    top: 0;
    height: 100%;
    width: 44px;    /*圆角*/
    background-color: #663366;
    transition: all 250ms ease;
}
.tabbed ul li:before {
    right: -24px;
    transform: skew(30deg, 0deg);
    box-shadow: rgba(0,0,0,.1) 3px 2px 5px, inset rgba(255,255,255,.09) -1px 0;
}
.tabbed ul li:after {
    left: -24px;
    transform: skew(-30deg, 0deg);
    box-shadow: rgba(0,0,0,.1) -3px 2px 5px, inset rgba(255,255,255,.09) 1px 0;
}
.tabbed ul li:hover,
.tabbed ul li:hover:before,
.tabbed ul li:hover:after {
    background-color: rgb(146,61,146);
    color: #444;
    cursor: default;
}

/* Round Tabs */
.tabbed.round ul li {
    border-radius: 8px 8px 0 0;
}
.tabbed.round ul li:before {
    border-radius: 0 8px 0 0;
}
.tabbed.round ul li:after {
    border-radius: 8px 0 0 0;
}
/*
.option-name{
    height: 50px;
    padding: 0;
    margin: 0;
    width: 1200px;

}

.option-name > li{
    background-color: #68228B;
    list-style: none;
    width: 240px;
    height: 50px;
    margin: 0 0 30px;
    float: left;

}*/

#option-button{

    width: 1200px;
    height: 82px;
    padding: 0;
    margin: 0;
    position: absolute;

}
.first-option {
    margin-left: 0 !important;
}
#option-button > li{
    background-color: rgba(93,71,139,0.1);
    list-style: none;
    width: 290px;
    height: 82px;
    margin: 0 0 10px 5px;
    box-shadow: 2px 2px 2px rgba(28,28,28,0.2);
    float: left;
}
#option-button > li:nth-child(1) {
    width: 420px;
}
#option-button > li:nth-child(2){
    width: 250px;
}
#option-button > li:nth-child(3){
    width: 290px;
}
#option-button > li:nth-child(4){
    width: 220px;
}

#option-button button{
    font-size: 80%;
    margin: 21px 0 0 10px;
    width: 90px;
    height: 40px;
    cursor: pointer;
    color: white;
    background: #663366;
    border: none;
    box-shadow: 2px 2px 2px rgba(28,28,28,0.2);
    border-radius: 20px;
}
#option-button button:hover{
    background-color: rgb(146,61,146);
}
#option-button .tool img{
    margin: 15px 0 0 5px;
    height: 50px;
    width: 50px;
    cursor: pointer;
}
#option-button .tool img:hover{
    margin: 15px 0 0 5px;
    height: 50px;
    width: 50px;
    border: 1px solid white;
    cursor: pointer;
}
#option-button img{
    margin: 21px 0 0 0;
    height: 40px;
    width: 40px;
    border: 1px solid transparent;
    cursor: pointer;
}
#arc{
    margin-left: 5px !important;
}

#option-button img:hover {
    border: 1px solid white;
    cursor: pointer;
}
#arc:hover{
    margin-left: 5px !important;
}
.select-line{
    width: 100px;
    margin: 5px 20px;
    float: left;
}
#colorSelector{
    float: left;
    margin: 5px 20px;
}
/*
#option-button .line img {
    margin: 0 19px 0 19px;
    max-height: 15px;
    width: 200px;
    border: 1px solid transparent;
    cursor: pointer;
}
#option-button .line img:hover {
    margin: 1px 19px 0 19px;
    max-height: 15px;
    width: 200px;
    border: 1px solid white;
    cursor: pointer;
}*/
#option-button div {
    width: 20px;
    height: 20px;
    margin: 10px 0 0 15px;
    border: 1px solid white;
    border-radius: 20px;
    float: left;
    cursor: pointer;
}
#option-button div:hover {
    width: 20px;
    height: 20px;
    margin: 10px 0 0 15px;
    border: 1px solid #e4b9b9;
    border-radius: 30px;
    float: left;
    cursor: pointer;
}
.Label{
    float: left;
    margin-top: 5px;
    margin-left: 10px;
}


canvas {
    background-color: #fff;
    margin:90px 250px 0 250px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(28,28,28,0.3);
    box-shadow: 2px 2px 2px rgba(28,28,28,0.2) inset, -2px -2px 2px rgba(28,28,28,0.2) inset;
    cursor: default;

}
.on {

    background-color: #fff;

}
.arc_on{
    border-radius: 30px;
    background-color: #fff;
}
.btn-back{
    background-color: #663366;
    color: #fff;
    width: 130px;
    height: 50px;
    position: absolute;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    top: 500px;
    left: auto;
    border: none;
    border-radius: 0 20px 20px 0;
    box-shadow: 2px 2px 3px rgba(28,28,28,0.4);
}
.btn-back:hover{
    background-color:rgb(146,61,146);
}
.btn-find{
    border-radius: 20px 0px 0px 20px;
    background-color: #663366;
    color: #fff;
    width: 130px;
    height: 50px;
    position: absolute;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    top: 500px;
    margin-left: 1070px;
    border: none;
    box-shadow: 2px 2px 3px rgba(28,28,28,0.4);
}
.btn-find:hover{
    background-color: rgb(146,61,146);
}
.icon-arrow-right2{

    font-size: 150%;
    line-height: 55px;
    padding-right: 10px;
}
.icon-arrow-left2{

    font-size: 150%;
    line-height: 55px;
    padding-left: 15px;
}
.search{
    float: left;
    padding-left: 20px;
    font-size: 110%;

}
.Back{
    float: right;
    padding-right: 25px;
    font-size: 110%;
}












